%h1 Unsere Einwohner
- @animals.each do |animal|
    %div.row.vertical-align
        %div{:class => cycle('col-md-4 col-md-push-8', 'col-md-4', :name => "col-md-4") }
            %h2= link_to animal.name, animal
            %p= truncate(animal.description, :length => 150)
        %div{:class => cycle('col-md-8 col-md-pull-4', 'col-md-8', :name => "col-md-8") }
            = link_to (image_tag animal.image.url(:medium), :width => "750px"), animal