%h1 Unsere Einwohner
- @animals.each do |animal|
    %div.row
        %div.col-md-4
            %h2= link_to animal.name, animal
            %p= truncate(animal.description, :length => 150)
        %div.col-md-8
            = link_to (image_tag animal.image.url(:medium)), animal